@tailwind base;
@tailwind components;

@import 'datatables';

html, body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

html.wf-loading * {
    opacity: 0;
}

body {
    background: url('/img/pendo_bg.jpg') no-repeat center center;
    background-size: cover;
}

.auth-container {
    width: 100%;
    max-width: 968px;
    min-height: 592px;
    margin: 0 auto;
    box-shadow: 0 2.76px 2.21px rgba(0, 0, 0, 0.0365),
                0 6.65px 5.32px rgba(0, 0, 0, 0.0525),
                0 12.52px 10.01px rgba(0, 0, 0, 0.065),
                0 22.33px 17.86px rgba(0, 0, 0, 0.0775),
                0 41.77px 33.42px rgba(0, 0, 0, 0.0935),
                0 100px 80px rgba(0, 0, 0, 0.13);
    border-radius: 5px 25px 25px 5px;
    overflow: hidden;
    .auth__form {
        background: #fff;
        padding-top: 3rem;
        padding-bottom: 2rem;
        .container {
            width: 100%;
            max-width: 324px;

        }
    }
    .auth__info-panel {
        background: rgba(71, 80, 88, 0.8);
        backdrop-filter: blur(15px);
        color: #fff;
    }
}
.app-container {
    width: 100%;
    height: 100%;
    box-shadow: 0 2.76px 2.21px rgba(0, 0, 0, 0.0365),
    0 6.65px 5.32px rgba(0, 0, 0, 0.0525),
    0 12.52px 10.01px rgba(0, 0, 0, 0.065),
    0 22.33px 17.86px rgba(0, 0, 0, 0.0775),
    0 41.77px 33.42px rgba(0, 0, 0, 0.0935),
    0 100px 80px rgba(0, 0, 0, 0.13);
    border-radius: 5px 25px 25px 5px;
    overflow: hidden;
    background: #fff;
}
input {
    background: #F6F6F6;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: 100%;
}
a {
    color: #00AD69;
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 15px;
}
.toggle-checkbox:checked {
    @apply right-0 border-green-400;
    right: 0;
    border-color: #68D391;
    outline: none;
    box-shadow: none;
    border: 0;
}
.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
    background-color: #68D391;
    outline: none;
    box-shadow: none;
    border: 0;
}

.copyright {
    @apply flex flex-row justify-center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-primary {
    color: #475058;
}
.dataTables_length {
    select {
        min-width: 60px;
    }
}
.bg-primary {
    background-color: #00AD69;
}
[x-cloak] {
    display: none;
}
@tailwind utilities;
